@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

*{
    margin: 0;
    padding: 0px;
}

body{
    color: white;
    background-color: black;
    position: fixed;
}

.logo{
    width: 33vw;
    /* border: solid red; */

}

#logo-svg{
    margin-left: 20px;
}

nav{
    /* border: solid white; */
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    position: relative;
    height: 710px;
    margin-left: 7px;
    gap: 7px;
}

main{
    /* border: solid skyblue; */
    border-width: 2px;
    /* height: 710px; */
    width: 77vw;
    justify-content: right;
    border-radius: 10px;
    background-color: #121212;
    position: relative;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.fade-bg{
    background-image: linear-gradient(to bottom, #232323, #121212);
    height: 300px;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    width: 100vw;
}

.songs{
    margin: 20px;
    position: absolute;
    z-index: 7;
    top: 0px;
}

aside{
    background-color: #121212;
    /* border: solid red; */
    border-radius: 10px;
    border-width: 2px;
    /* height: 700px; */
    width: 22vw;
    justify-content: left;
    overflow: scroll;
}



footer{
    margin-top: 100px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    position: relative;
    z-index: 7;
}

.text-normal{
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 100;
}

.text-bold{
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 400;
}

.text-ultrabold{
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 900;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #575757;
    margin-top: 10px;
    padding: 0;
    width: 95%;
}

#signup-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signup-bar{
    background-image: linear-gradient(to right, #AF2795, #509BF4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    margin-top: 7px;
    /* border: solid red; */
    /* visibility: hidden; */
}

#music-player{
    background-image: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    margin-top: 7px;
    color: white;
    border: solid red;
}

#music-controller{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.controlButtons{
    color: #979797;
    /* border: solid white; */
}

.controlButtons:hover{
    color: white;
}

.controlButtonSvgs{
    height: 20px;
    width: 20px;
}

#play-button{
    height: 30px;
    width: 30px;
}

#functionalities{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    border: solid white;
}

#current-song{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: solid white;
}

button{
    border: none;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover{
    cursor: pointer;
    scale: 1.05;
    background-color: #e7e7e7;
}

.btn:hover{
    scale: 1.1;
}

#log-in{
    height: 50px;
    width: 110px;
}

#sign-up{
    color: lightgray;
    height: 50px;
    width: 100px;
    border: none;
    display: grid;
    align-items: center;
}

#sign-up:hover{
    scale: 1.05;
    color: white;
}

.nav-signup{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 33vw;
    /* border: solid red; */
}

#lib-bar{
    /* border: solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(159, 159, 159);
    padding: 15px;
}

#library-svg{
    height: 25px;
    width: 25px;
}

/* #lib-tile-set{
    overflow-y: scroll;
    overflow-x: scroll;
} */

#library{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
}

#plus-svg{
    height: 25px;
    width: 25px;
}

#signup-free{
    height: 50px;
    width: 150px;
    margin-right: 10px;
    font-size: medium;
}

.tile-set{
    margin-bottom: 20px;
    /* border: solid white; */
}

.lib-tile{
    /* height: 120px; */
    background-color: #232323;
    position: relative;
    margin: 10px;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    gap: 20px;
}

.lib-tile-content{
    font-size: small;
    margin-top: 15px;
}

.side-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#cookies{
    color: white;
    font-size: smaller;
}

.lib-link{
    color: #979797;
    font-size: x-small;
    padding: 10px;
}

#lib-footer{
    padding: 20px;
    /* border: solid white; */
    position: relative;
    top: 120px;
    z-index: 9;
}

#world-svg{
    height: 20px;
    width: 20px;
}

.langs button{
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: 0.5px solid #575757;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

.langs button:hover{
    border: 0.5px solid white;
}

.invert{
    filter: invert(1);
}

#home-svg{
    height: 25px;
    width: 25px;
}

#home-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    width: 550px;
    /* border: solid red; */
    /* margin: auto; */
    gap: 7px;
}

#home-container{
    background-color: #232323;
    border: none;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar{
    background-color: #232323;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 45px;
    height: 45px;
    width: 27vw;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    background-image: url(assets/svgs/searchlens.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 25px 25px;
    border: none;
}

#search-bar::placeholder{
    padding-left: 35px;
    font-size: medium;
    color: rgb(159, 159, 159);
}

.tiles{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* gap: 20px; */
    /* border: solid red; */
}

.main-tile > *{
    height: 195px;
    width: 195px;
    /* border: solid white; */
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    box-shadow: 0px 10px 20px 0.5px rgb(15, 15, 15);
    /* width: fit-content; */
}

.main-tile-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    /* border: solid white; */
}

.main-tile-content:hover{
    background-color: #1f1f1f;
    cursor: pointer;
}

#links-table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    width: 50vw;
    justify-content: space-between;
    
}

.link-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: small;
}

a{
    text-decoration: none;
}