@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");

*{
    margin: 0;
    padding: 0px;
}

body{
    color: white;
    background-color: black;
    position: fixed;
}

.logo{
    width: 33vw;
    /* border: solid red; */

}

#logo-svg{
    margin-left: 20px;
}

nav{
    /* border: solid white; */
    border-width: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px;
}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    position: relative;
}

main{
    /* border: solid skyblue; */
    border-width: 2px;
    height: 700px;
    width: 77vw;
    justify-content: right;
    border-radius: 10px;
    background-color: #121212;
    position: relative;
    z-index: 0;
    overflow: scroll
}

.fade-bg{
    background-image: linear-gradient(to bottom, #232323, #121212);
    height: 300px;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.songs{
    margin: 20px;
    position: absolute;
    z-index: 7;
    top: 0px;
}

aside{
    background-color: #121212;
    /* border: solid red; */
    border-radius: 10px;
    border-width: 2px;
    height: 700px;
    width: 22vw;
    justify-content: left;
}



footer{
    border: solid yellow;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    position: relative;
    z-index: 7;
}

.text-normal{
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 100;
}

.text-bold{
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 400;
}

.text-ultrabold{
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 900;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #575757;
    /* margin: 1em 0; */
    padding: 0;
    width: 95%;
}

#signup-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-bar{
    background-image: linear-gradient(to right, #AF2795, #509BF4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    margin-top: 7px;
    /* border: solid red; */
}

button{
    border: none;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn{
    background-color: white;
    color: black;
}

#log-in{
    height: 50px;
    width: 110px;
}

#sign-up{
    color: lightgray;
    height: 50px;
    width: 100px;
    border: none;
    display: grid;
    align-items: center;
}

.nav-signup{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 33vw;
    /* border: solid red; */
}

#lib-bar{
    /* border: solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(159, 159, 159);
    padding: 15px;
}

#library-svg{
    height: 25px;
    width: 25px;
}

#library{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#plus-svg{
    height: 25px;
    width: 25px;
}

#signup-free{
    height: 50px;
    width: 150px;
    margin-right: 10px;
    font-size: medium;
}

.tile-set{
    margin-bottom: 20px;
}

.lib-tile{
    height: 120px;
    background-color: #232323;
    position: relative;
    margin: 10px;
    margin-top: 25px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

#world-svg{
    height: 20px;
    width: 20px;
}

.langs button{
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: solid #575757;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

.invert{
    filter: invert(1);
}

#home-svg{
    height: 25px;
    width: 25px;
}

#home-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    width: 33vw;
    /* border: solid red; */
    /* margin: auto; */
    gap: 7px;
}

#home-container{
    background-color: #232323;
    border: none;
    border-radius: 30px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar{
    background-color: #232323;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 45px;
    height: 45px;
    width: 27vw;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    background-image: url(assets/svgs/searchlens.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 25px 25px;
    border: none;
}

#search-bar::placeholder{
    padding-left: 35px;
    font-size: medium;
    color: rgb(159, 159, 159);
}

.tiles{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.main-tile{
    height: 195px;
    width: 195px;
    border: solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}

.main-tile-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
